.Container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding-top: 120px;
}

/* header starts here */
header {
    background-color: #262626;
    display: flex;
    justify-content: space-between;
    padding: 46px 320px;
    position: fixed;
    width: inherit;
    max-width: inherit;
    top: 0%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%);

}

.header_list {
    display: flex;
    column-gap: 68px;
    font-family: 'Work Sans', sans-serif;
}

.lister {
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
}

.fa-bag-shopping {
    color: #FFFFFF;
    font-size: 35px;
}

/* header ends here */
/* section starts here */
.section1 {
    height: 1080px;
    display: flex;
    justify-content: center;
    position: relative;
}

.section_content {
    position: absolute;
    top: 242px;
}

.living_room {
    width: 100%;
    height: 100%;
}

.section_header {
    font-size: 82px;
    font-weight: 700;
    line-height: 96px;
    letter-spacing: 0em;
    text-align: center;
    width: 1100px;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
}

.Bar_txt {
    display: flex;
    justify-content: center;
    margin-top: 161px;
    flex-direction: column;
    align-items: center;
}

.txt1 {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
    letter-spacing: 0em;
    text-align: center;
    width: 580px;
    color: #FFFFFF;
    margin-bottom: 23px;
    font-family: 'Work Sans', sans-serif;
}

.txt2 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
}

.search_bar {
    width: 463px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 10px;
    padding-left: 30px;
    padding-right: 9px;
    padding-bottom: 10px;
    column-gap: 248px;
}

.fa-magnifying-glass {
    font-size: 25px;
    color: #FFFFFF;
}

.Loop {
    width: 51px;
    height: 51px;
    background-color: #525A55;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* section ends here */
/* section 2 starts here */
.section2 {
    width: 75%;
    margin-top: 245px;
    margin-inline: auto;
    display: flex;
    flex-direction: column;
    row-gap: 81px;
}

.section2_header {
    font-size: 75px;
    font-weight: 600;
    line-height: 88px;
    letter-spacing: 0em;
    text-align: left;
    color: #081323;
    font-family: 'Work Sans', sans-serif;
}

.Main_box {
    display: flex;
    justify-content: space-between;
    column-gap: 55px;
}

.mini_box {
    padding: 30px 41px;
    border: 2px solid #DCB47A;
}

.pic {
    width: 100%;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}

.dollar {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: left;
    margin-top: 17px;
    font-family: 'Inter', sans-serif;
}

.txt3 {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: -0.05em;
    text-align: left;
    font-family: 'Inter', sans-serif;
}

.fa-cart-shopping {
    font-size: 19px;
}

/* section2 ends here */
/* footer starts here */
footer {
    background-color: #262626;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 49px;
    padding: 60px 0px 60px 0px;
    margin-top: 245px;
}

.footer_header {
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #FFFFFF;
    font-family: 'Work Sans', sans-serif;
}

span {
    color: #DCB47A;
    font-family: 'Work Sans', sans-serif;
}

.txt5 {
    color: #FFFFFFCC;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}

button {
    width: 200px;
    border-radius: 60px;
    background-color: #DCB47A;
    padding: 22px 60px;
}

.linkme {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    font-family: 'Work Sans', sans-serif;
}
/* footer ends here */